
.idea/
*.iml
out/


.vscode/


node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock


dist/
build/
*.log


.DS_Store         # MacOS
Thumbs.db         # Windows
*.swp             # Archivos swap (Vim)
*.tmp             # Temporales

.env              # Variables de entorno
